/*General styles*/

body{
    font-family: lucida sans;
}

.sections{
    padding: 20px 0;

}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,0.5);
}

.section-header .section-title{
    font-size: 40px;
}

.section-header .line{
    width: 150px;
    background: #ddd;
    height: 3px;
    margin: auto;
}

.section-header .line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 0.5px;
}

.section-header p{
    width: 50%;
    color: #888;
    margin: 30px auto;
    line-height: 1.5;

}

header{
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999; 
}

header i.icon{
    position: absolute;
    right: 30px;
    top: 34px;
    z-index: 10;
    display: none;
}

header .logo h2{
    font-size: 35px;
    color: #fff;
}

header nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0; 
}

header nav .nav-list .list a{
    display: block;
    padding: 15px 0;
    margin: 9px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

header nav .nav-list .list a:hover{
    color: #7cb62f;
}

.sticky{
    background: #000;
    color: #fff;
}
 

@media (max-width:575px){

    header{
        background: #000;
    }


    header nav .nav-list{
        display: none;
        text-align: center;
        padding: 0;
    }
    header .logo{
        text-align: center;
    }
    header i.icon{
        display: block;
    }

    .section-header p{
        width: 85%;

    }
}

/*Home sections*/
.home{
    height: 550px;
    background-image: url('../images/home/business.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-40%, 40%);
}

.home .home-title{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20x;
}

.home .home-desc{
    color: #fff;
    font-size: 15px;
}

.home .btn-button{
    background: #7cb62f;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0; 
}
@media (max-width:575px){
    .home .home-title{
        font-size: 20px;
    }
    .home .btn-button{
        margin-bottom: 10px;
    }
}

/*  About Us */
.section-header .section-title{
    font-size: 40px;
}

.section-header .line{
    width: 150px;
    background: #ddd;
    height: 3px;
    margin: auto;
}

.section-header .line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 0.5px;
}

.section-header p{
    width: 500px;
    color: #888;
    margin: 10px auto;
    line-height: 1.5;
}

/*  About Us */

.about .about-info h3{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

.about .about-info h3 span{
    color: #7cb62f;
}

.about .about-info .about-info-desc{
    line-height: 1.8;
    color: #888;
    margin-bottom: 20px;
}

.about .about-info .about-info-btn{
    background-color: #7cb62f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.about .about-img img{
    width: 100%;

}

@media (max-width:575px){
    .about .about-info h3{
        font-size: 20px;
    }
}

@media (min-width:576px) and (max-width:768px){
    .about .about-info{
        text-align: center;
    }
}

/* Services Section */
.services{
    background: #f7f7f7;
}

.services .serv{
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.services .serv .icon{
    background: #7cb62f;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
}

.services .serv-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.services .serv-desc{
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}




/* Test pour developpement*/
.test{
    margin-bottom: 400px;
}
